h1{
    width:80%;
    font-size: 30px;
    text-align: center;
    margin: 15px auto; 
    margin-top: 100px;
}
p{
    width:80%;
    font-size: 20px;
    text-align: center;
    margin: 15px auto; 
}